################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/ConsoleApp1/bin
/src/ConsoleApp1/obj
*.ini
